{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <h1>Lista de Empanadas</h1>
    {% for empanada in empanadas %}
    <li>
        {{empanada}}  
        
    </li>
    <div style="display: flex;column-gap: 5px;">
        <form action="{% url 'EliminarEmpanadas' empanada.id %}" method="post">{% csrf_token %}
            <button class="btn btn-danger" type="submit"">Eliminar</button>
        </form>
        <buttton>
            <a type="submit" class="btn btn-primary" href="{% url 'ModificarEmpanadas' empanada.id %}">Editar</a> 
        </buttton>
        <buttton>
            <a  type="submit" class="btn btn-success" href="{}"">Comprar</a>
        </buttton>
    </div>
    {% endfor %} 
{% endblock contenidoQueCambia %}
    