{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <h1>Lista de Pizzas</h1>
    {% for pizza in pizzas %}
    <li>
        {{pizza}}  
        
    </li>
    <div class="d-grid gap-2 d-md-block">
        <form action="{% url 'EliminarPizza' pizza.id %}" method="post">{% csrf_token %}
            <button class="btn btn-eliminar" type="submit"">Eliminar</button>
        </form>
        <buttton>
            <a href="{% url 'ModificarPizza' pizza.id %}">Editar</a> 
        </buttton>
    </div>
    {% endfor %} 
{% endblock contenidoQueCambia %}
    