{% extends 'padre.html' %}

{% block contenidoQueCambia %}
    <h1>Lista de Pizzas</h1>
    {% for pizza in pizzas %}
    <li>
        {{pizza}}  
        
    </li>
    <div style="display: flex;column-gap: 5px;">
        <form action="{% url 'EliminarPizza' pizza.id %}" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
        <buttton>
            <a type="submit" class="btn btn-primary" href="{% url 'ModificarPizza' pizza.id %}">Editar</a>             
        </buttton>
        <buttton>
            <a  type="submit" class="btn btn-success" href="{}"">Comprar</a>
        </buttton>
    </div>
    {% endfor %} 
{% endblock contenidoQueCambia %}
    